body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 1200px;
    margin: 0 auto;
    box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.main-navigation {
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    background-color: #ffffff;
}

.main-header-logo {
    width: 140px;
    height: 72px;
}

.site-navigation {
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-navigation a {
    color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
}

.site-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.site-navigation-current {
    color: #766357;
}

.main-intro {
    min-height: 507px;
    background-color: #acd5ee;
    background-image: url("../img/intro-mask.svg"), url("../img/background-photo.jpg");
    background-position: center 100%, center 0;
    background-repeat: no-repeat, no-repeat;
    background-size:1200px 57px, 1200px 800px;
    text-align: center;
}

.main-intro img {
    padding-top: 75px;
    padding-bottom: 80px;
}

.advantages-title {
    width: 440px;
    margin: 0 auto;
    margin-top: 55px;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
}

.advantages-subtitle {
    margin-top: 30px;
    margin-bottom: 50px;
    line-height: 26px;
    text-align: center;
    color: #333333;
}

.advantages {
    text-align: center;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.with-image {
    display: flex;
    width: 100%;
    color: #ffffff;
    background-color: #81b3d2;
}

.with-image img {
    height: 100%;
}

.with-image:first-child {
    order: -2;
}

.text-only {
    box-sizing: border-box;
    width: 400px;
    background-color: #eeeeee;
    padding-top: 47px;
    padding-bottom: 60px;
    padding-left: 46px;
    padding-right: 46px;
}

.text-only h3 {
    margin: 0;
    margin-bottom: 23px;
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
}

.text-only span,
.text-only p {
    color: #333333;
}

.text-only span {
    margin-bottom: 22px;
}

.text-only p {
    word-wrap: break-word;
}

.with-image .text-only {
    background-color: #81b3d2;
}

.with-image span,
.with-image p {
    color: #ffffff;
}

.image-only {
    box-sizing: border-box;
    width: 800px;
}

.advantage-item-more {
    order: -1;
    width: 100%;
}

.more-advantages-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
}

.more-advantage-item {
    box-sizing: border-box;
    width: 400px;
}

.more-advantage-item h4 {
    margin-top: 160px;
    margin-bottom: 27px;
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
}

.more-advantage-item p {
    width: 285px;
    margin: 0 auto;
    margin-bottom: 82px;
    color: #333333;
}

.appointment {
    text-align: center;
}

.appointment-title {
    margin-top: 55px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
}

.appointment-subtitle {
    line-height: 24px;
    color: #333333;
}

.appointment-button {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #766357;
    border: none;
}

.appointment-button:hover,
.appointment-button:focus {
    background-color: #604e43;
}

.appointment-button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}

.appointment-item label {
    line-height: 26px;
    font-weight: 700;
}

.appointment-item input {
    font: inherit;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
    background-color: #f2f2f2;
    border: none;
}

.appointment-item input:hover {
    background-color: #ebebeb;
}

.appointment-item input:focus {
    background-color: #ffffff;
    outline: 2px solid #e5e5e5;
}

.appointment-item .button-calendar {
    background-color: transparent;
    border: none;
}

.appointment-form .button-submit {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #81b3d2;
    border: none;
}

.appointment-form .button-submit:hover,
.appointment-form .button-submit:focus {
    background-color: #669ec0;
}

.appointment-form .button-submit:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}

.filters {
    color: #ffffff;
    background-color: #669ec0;
    background-image: url("../img/filter-background.jpg");
    background-position: 0 center;
    background-repeat: no-repeat;
    background-size: 1200px 800px;
}

.filter fieldset {
    border: none;
}

.filter legend,
.filter-range-title {
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
}

.filter-range-title {
    margin-bottom: 9px;
}

.filter ul {
    list-style: none;
}

.filter-range {
    width: 330px;
}

.price-controls {
    position: relative;
    height: 36px;
    margin-bottom: 20px;
    font-size: 0;
    border: 2px solid #ffffff;
    border-radius: 2px;
}

.price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 22px;
    background: #ffffff;
    transform: translate(-50%, -50%);
}

.price-controls label {
    display: inline-block;
    font-size: 14px;
    line-height: 38px;
    vertical-align: top;
    cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
    width: 90px;
    padding-left: 65px;
}

.price-controls input {
    width: 50px;
    margin: 0;
    font: inherit;
    color: inherit;
    background: none;
    border: none;
}

.range-controls {
    position: relative;
    margin-bottom: 32px;
}

.range-controls .scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 80%;
    height: 2px;
    background: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle:hover {
    background: #1c4f80;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 80%;
}

.filter-button {
    display: block;
    margin: 0 auto;
    padding: 6px 35px;
    font: inherit;
    color: #ffffff;
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}

.filter-button:hover,
.filter-button:focus,
.filter-button:active {
    color: #000000;
    background-color: #ffffff;
}

.sorting-results {
    border-bottom: 1px solid #e5e5e5;
}

.sorting-columns {
    display: flex;
    padding-left: 72px;
    padding-right: 73px;
    padding-top: 29px;
    padding-bottom: 29px;
    align-items: baseline;
}

.results-number {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.sorting {
    margin-left: 49px;
    font-size: 12px;
    line-height: 18px;
}

.filter-results-list {
    margin: 0;
    margin-left: 40px;
    padding: 0;
    list-style: none;
    font-size: 12px;
    line-height: 18px;
}

.filter-results-list .result-current {
    color: #81b3d2;
}

.filter-result-item a {
    color: rgba(0, 0, 0, 0.3);
    text-decoration: underline dotted #81b3d2;
}

.filter-result-item a:hover,
.filter-result-item a:focus {
    color: #81b3d2;
}

.filter-result-item a:active {
    color: #000000;
    text-decoration: none;
}

.buttons-sorting {
    margin-left: auto;
}

.catalog-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.catalog-item {
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    padding-left: 72px;
    padding-right: 73px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.catalog-item a {
    color: #000000;
}

.catalog-item h3 {
    margin: 0;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.catalog-item p {
    margin: 0;
}

.catalog-item-image {
    order: -1;
}

.hotel-name:hover,
.hotel-name:focus {
    color: #81b3d2;
}

.hotel-name:active {
    color: rgba(0, 0, 0, 0.3);
}

.more-detail a {
    color: #ffffff;
    font-weight: 700;
}

.button-detail {
    background-color: #81b3d2;
}

.button-detail:hover,
.button-detail:focus {
    background-color: #669ec0;
}

.button-detail:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}

.button-reserv {
    background-color: #766357;
}

.button-reserv:hover,
.button-reserv:focus {
    background-color: #604e43;
}

.button-reserv:active {
    background-color: #503e33;
    color: rgba(255, 255, 255, 0.3);
}

.raiting {
    margin-left: auto;
}

.raiting-number {
    color: #666666;
    background-color: #f2f2f2;
}

.main-footer {
    display: flex;
    align-items: center;
    padding: 35px 0;
    opacity: 0.9;
}

.footer-intro {
    box-sizing: border-box;
    width: 400px;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
}

.footer-social {
    width: 400px;
    text-align: center;
}

.footer-social ul {
    list-style: none;
}

.social-button {
    color: #81b3d2;
}

.footer-copyright {
    width: 400px;
    text-align: center;
}

.footer-copyright span {
    line-height: 26px;
}