/* @font-face {
    font-family: "PT Sans";
    src: url("../fonts/ptsans.woff2") format("woff2"),
         url("../fonts/ptsans.woff") format("woff");
    font-weight: 400;         
}

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/ptsansbold.woff2") format("woff2"),
         url("../fonts/ptsansbold.woff") format("woff");
    font-weight: 700;         
} */

body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.main-header {
    position: relative;
}

.main-navigation {
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    background-color: #ffffff;
}

.main-header-logo {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -70px;
    width: 140px;
    height: 72px;
}

.site-navigation {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 1200px;
    min-height: 56px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-navigation li {
    box-sizing: border-box;
    width: 239px;
    padding: 15px 70px;
}

.site-navigation li:nth-child(4n+1),
.site-navigation li:nth-child(4n+2) {
    text-align: left;
}

.site-navigation li:nth-child(4n+3),
.site-navigation li:nth-child(4n+4) {
    text-align: right;
}

.site-navigation li:nth-child(4n+3) {
    margin-left: 244px;
}

.site-navigation a {
    color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
}

.site-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.site-navigation-current a {
    color: #766357;
}

.main-intro {
    min-height: 508px;
    background-color: #acd5ee;
    background-image: url("../img/intro-mask.svg"), url("../img/background-photo.jpg");
    background-position: center bottom, center -83px;
    background-repeat: no-repeat, no-repeat;
    background-size: 1200px 57px, 1200px 800px;
    text-align: center;
}

.main-intro img {
    padding-top: 75px;
    padding-bottom: 75px;
}

.advantages-title {
    width: 440px;
    margin: 0 auto;
    margin-top: 59px;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
}

.advantages-subtitle {
    margin-top: 25px;
    margin-bottom: 50px;
    line-height: 26px;
    text-align: center;
    color: #333333;
}

.advantages {
    text-align: center;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.advantage-item {
    box-sizing: border-box;
    min-height: 256px;
}

.with-image {
    display: flex;
    width: 100%;
    color: #ffffff;
    background-color: #81b3d2;
}

.with-image:first-child {
    order: -2;
}

.image-only {
    width: 800px;
    height: 256px;
}

.with-image:nth-child(2) .image-only {
    order: -1;
}

.text-only {
    box-sizing: border-box;
    width: 400px;
    background-color: #eeeeee;
    padding-top: 47px;
    padding-bottom: 59px;
    padding-left: 46px;
    padding-right: 46px;
}

.text-only h3 {
    margin: 0;
    margin-bottom: 23px;
    padding: 0 75px;
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
}

.text-only span,
.text-only p {
    color: #333333;
}

.text-only p {
    margin: 0;
    margin-top: 22px;
    padding: 0;
    word-wrap: break-word;
}

.other-advantage p {
    padding: 0 20px;
}

.advantage-item:first-child p {
    padding-left: 5px;
    padding-right: 5px;
}

.advantage-item:nth-child(5) p {
    padding: 0 25px;
}

.with-image .text-only {
    background-color: #81b3d2;
}

.with-image span,
.with-image p {
    color: #ffffff;
}

.advantage-item-more {
    order: -1;
    width: 100%;
}

.more-advantages-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
}

.more-advantage-item {
    box-sizing: border-box;
    width: 400px;
}

.more-advantage-item h4 {
    position: relative;
    margin-top: 160px;
    margin-bottom: 27px;
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
}

.more-advantage-item h4::before {
    content: "";
    position: absolute;
}

.more-advantage-item:first-child h4::before {
    bottom: 50px;
    left: 162px;
    width: 75px;
    height: 72px;
    background-image: url("../img/icon-house.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.more-advantage-item:nth-child(2) h4::before {
    bottom: 53px;
    left: 163px;
    width: 74px;
    height: 70px;
    background-image: url("../img/icon-food.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.more-advantage-item:last-child h4::before {
    bottom: 53px;
    left: 168px;
    width: 64px;
    height: 76px;
    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.more-advantage-item p {
    width: 285px;
    margin: 0 auto;
    margin-bottom: 80px;
    color: #333333;
}

.appointment {
    position: relative;
    text-align: center;
}

.appointment-title {
    margin: 0;
    margin-top: 55px;
    margin-bottom: 25px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
}

.appointment-subtitle {
    margin: 0;
    margin-bottom: 47px;
    line-height: 24px;
    color: #333333;
}

.appointment-button {
    display: block;
    width: 568px;
    margin: 0 auto;
    padding: 30px 5px;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    background-color: #766357;
    border: none;
}

.appointment-button:hover,
.appointment-button:focus {
    background-color: #604e43;
}

.appointment-button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}

.appointment-container {
    position: absolute;
    top: 100%;
    left: 50%;
    box-sizing: border-box;
    width: 568px;
    margin-left: -284px;
    padding: 55px;
    background-color: #ffffff;
}

.appointment-item {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 0;
}

.appointment-item label {
    padding-top: 6px;
    line-height: 26px;
    font-weight: 700;
}

.appointment-item input {
    box-sizing: border-box;
    width: 346px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    font: inherit;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
    background-color: #f2f2f2;
    border: none;
}

.appointment-item input:hover {
    background-color: #ebebeb;
}

.appointment-item input:focus {
    background-color: #ffffff;
    outline: 2px solid #e5e5e5;
}

.appointment-item .button-calendar {
    position: absolute;
    top: 6px;
    right: 9px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.button-calendar:hover path,
.button-calendar:focus path {
    fill: #231f20;
}

.button-calendar:active path {
    fill: #81b3d2;
}

.appointment-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 53px;
}

.appointment-group .appointment-item {
    margin: 0;
}

.appointment-group .appointment-item:first-child label {
    margin-right: 41px;
}

.appointment-group .appointment-item:nth-child(2) label {
    margin-right: 27px;
}

.appointment-group input {
    box-sizing: border-box;
    width: 38px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.appointment-group .button-less,
.appointment-group .button-more {
    box-sizing: border-box;
    width: 38px;
    background-color: #f2f2f2;
    border: none;
    cursor: pointer;
}

.button-less span,
.button-more span {
    font-size: 22px;
    font-weight: 700;
    color: #aaaaaa;
}

.button-less span:hover,
.button-less span:focus,
.button-more span:hover,
.button-more span:focus {
    color: #231f20;
}

.button-less span:active,
.button-more span:active {
    color: #81b3d2;
}

.appointment-form .button-submit {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #81b3d2;
    border: none;
}

.appointment-form .button-submit:hover,
.appointment-form .button-submit:focus {
    background-color: #669ec0;
}

.appointment-form .button-submit:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}

.main-map {
    display: flex;
}

.filters {
    color: #ffffff;
    background-color: #669ec0;
    background-image: url("../img/filter-background.jpg");
    background-position: 0 center;
    background-repeat: no-repeat;
    background-size: 1200px 800px;
}

.filter {
    display: flex;
    align-items: flex-start;
    padding: 29px 72px;
}

.filter fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

.filter fieldset:first-child {
    width: 254px;
}

.filter fieldset:nth-child(2) {
    width: 274px;
}

.filter legend,
.filter-range-title {
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
}

.filter legend {
    margin-bottom: 25px;
}

.filter-range-title {
    margin: 0;
    margin-bottom: 9px;
}

.filter ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.filter-option {
    margin-bottom: 23px;
    padding-left: 40px;
}

.filter-option:last-child {
    margin-bottom: 0;
}

.filter-option label {
    position: relative;
    display: block;
    cursor: pointer;
}

.filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    top: -3px;
    left: -40px;
    width: 19px;
    height: 19px;
    border: 2px solid #ffffff;
    border-radius: 3px;
}

.filter-input-checkbox:checked + label::after {
    content: "";
    position: absolute;
    top: -2px;
    left: -35px;
    width: 16px;
    height: 7px;
    border: 4px solid #ffffff;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
}

.filter-range {
    width: 330px;
    margin-left: auto;
}

.price-controls {
    position: relative;
    height: 36px;
    margin-bottom: 20px;
    font-size: 0;
    border: 2px solid #ffffff;
    border-radius: 2px;
}

.price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 22px;
    background: #ffffff;
    transform: translate(-50%, -50%);
}

.price-controls label {
    display: inline-block;
    font-size: 14px;
    line-height: 38px;
    vertical-align: top;
    cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
    width: 90px;
    padding-left: 65px;
}

.price-controls input {
    width: 50px;
    margin: 0;
    font: inherit;
    color: inherit;
    background: none;
    border: none;
}

.range-controls {
    position: relative;
    margin-bottom: 32px;
}

.range-controls .scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 80%;
    height: 2px;
    background: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle:hover {
    background: #1c4f80;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 80%;
}

.filter-button {
    display: block;
    margin: 0 auto;
    padding: 6px 35px;
    font: inherit;
    color: #ffffff;
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}

.filter-button:hover,
.filter-button:focus,
.filter-button:active {
    color: #000000;
    background-color: #ffffff;
}

.sorting-results {
    border-bottom: 1px solid #e5e5e5;
}

.sorting-columns {
    display: flex;
    padding-left: 72px;
    padding-right: 73px;
    padding-top: 30px;
    padding-bottom: 30px;
    align-items: baseline;
}

.results-number {
    margin: 0;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.sorting {
    margin: 0;
    margin-left: 49px;
    font-size: 12px;
    line-height: 18px;
}

.filter-results-list {
    display: flex;
    justify-content: space-between;
    width: 238px;
    margin: 0;
    margin-left: 40px;
    padding: 0;
    list-style: none;
    font-size: 12px;
    line-height: 18px;
}

.filter-results-list .result-current {
    color: #81b3d2;
}

.filter-result-item a {
    color: rgba(0, 0, 0, 0.3);
    text-decoration: underline dotted #81b3d2;
}

.filter-result-item a:hover,
.filter-result-item a:focus {
    color: #81b3d2;
}

.filter-result-item a:active {
    color: #000000;
    text-decoration: none;
}

.buttons-sorting {
    margin-left: auto;
}

.button-current path {
    fill: #81b3d2;
}

.button-down {
    margin-left: 8px;
}

.button-up:hover path,
.button-up:focus path,
.button-down:hover path,
.button-down:focus path {
    fill: #231f20;
}

.button-up:active path,
.button-down:active path {
    fill: #81b3d2;
}

.catalog-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.catalog-item {
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    padding-left: 72px;
    padding-right: 73px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.catalog-item a {
    color: #000000;
}

.catalog-item h3 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.catalog-item p {
    margin: 0;
}

.catalog-item-info {
    margin-left: 30px;
}

.catalog-item .catalog-item-price {
    display: flex;
    justify-content: space-between;
    width: 182px;
    margin: 0;
    margin-bottom: 14px;
}

.hotel-name:hover,
.hotel-name:focus {
    color: #81b3d2;
}

.hotel-name:active {
    color: rgba(0, 0, 0, 0.3);
}

.more-detail a {
    color: #ffffff;
    font-weight: 700;
}

.button-detail {
    display: inline-block;
    padding: 4px 17px;
    background-color: #81b3d2;
}

.button-detail:hover,
.button-detail:focus {
    background-color: #669ec0;
}

.button-detail:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}

.button-reserv {
    margin-left: 2px;
    padding: 4px 16px;
    background-color: #766357;
}

.button-reserv:hover,
.button-reserv:focus {
    background-color: #604e43;
}

.button-reserv:active {
    background-color: #503e33;
    color: rgba(255, 255, 255, 0.3);
}

.catalog-item .raiting {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.raiting-number {
    display: block;
    padding: 3px 14px;
    color: #666666;
    background-color: #f2f2f2;
}

.main-footer {
    display: flex;
    align-items: center;
    padding: 36px 0;
}

.index-footer {
    position: absolute;
    bottom: 0;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.9);
}

.footer-intro {
    box-sizing: border-box;
    width: 400px;
    margin: 0;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
}

.footer-social {
    width: 400px;
    text-align: center;
}

.footer-social ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 150px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.social-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
    background-color: #669ec0;
}

.social-button:active {
    background-color: #5496bd;
}

.social-button:active path {
    opacity: 0.3;
}

.footer-copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    margin: 0;
    text-align: center;
}

.footer-copyright span {
    line-height: 26px;
    margin-right: 8px;
}

.button-copyright {
    display: block;
    width: 115px;
    height: 41px;
}

.footer-copyright a:hover path,
.footer-copyright a:focus path {
    fill: #81b3d2;
}

.footer-copyright a:active path {
    fill: #bdbbbc;
}